body {
	margin-left: 10%;
	margin-right: 10%;
}

h1, h2, h5 {
	text-align: center;
}

.author {
	text-indent: 0em;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	font-family: SIMHEI, sans-serif;
}

h4 {
	text-align: right;
}

h1, h2 {
	font-family: SIMHEI, sans-serif;
}

h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}

hr {
	border-color: black;
	border-width: 0px;
	border-top-width: 1px;
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
}

.pagenum {
	position: absolute;
	left: 91%;
	width: 1.5em;
	font-size: 0.8em;
	color: green;
	font-family: Arial;
	padding-top: 0.2em;
	text-indent: 0em;
	display: inline;
}

p {
	text-indent: 2em;
	text-align: justify;
}

p.noindent {
	text-indent: 0em;
}

.footnotes p, .references p {
	text-indent: 0em;
}

.supplement p {
	text-indent: -1.5em;
	padding-left: 1.5em;
}

ul {
	list-style: none;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 384px;
}

pre {
	margin-left: 60px;
}

div.footnotes, sup, div.figure {
	/*display: none;*/
}

.center {
	text-align: center;
}

.center p, .figure p{
	text-indent: 0em;
	text-align: center;
}

.right {
	text-align: right;
}

.smaller {
	font-size: 80%;
}

.larger {
	font-size: 150%;
}

figure {
	text-align: center;
	font-size: 90%;
}

img {
	width: 80%;
}

img[src="images/Cover.jpg"], img[src="images/Frontispiece.jpg"], img[src="images/Pic05.jpg"], img[src="images/Pic08.jpg"] {
	width: 55%;
}

img[src="images/Perkins.jpg"] {
	width: 40%;
}

.hidden {
	display: none;
}
