body {
	margin-left: 10%;
	margin-right: 10%;
}

hr {
	border-color: black;
	border-width: 0px;
	border-top-width: 1px;
	width: 80%;
	margin-top: 2em;
	margin-bottom: 2em;
}

h1, h2, h6 {
	text-align: center;
}

h5 {
	text-align: right;
}

h5, h6 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}

.pagenum {
	display: none;
}

.withPN .pagenum {
	position: absolute;
	left: 91%;
	width: 1.5em;
	font-size: 0.8em;
	color: green;
	font-family: Arial;
	padding-top: 0.2em;
	text-indent: 0em;
	display: inline;
}

p {
	text-indent: 1.25em;
	text-align: justify;
}

p.noindent {
	text-indent: 0em;
}

p .initcap {
	float: left;
	font-size: 4em;
	line-height: 0.8em;
}

ul {
	list-style: none;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 536px;
}

.center {
	text-align: center;
}

.center p, .figure p {
	text-indent: 0em;
	text-align: center;
}

.right {
	text-align: right;
}

.smaller {
	font-size: 80%;
}

.larger {
	font-size: 150%;
}

.figure {
	text-align: center;
	font-size: 90%;
}

img {
	width: 80%;
}

#FHR img {
	height: 6.2em;
	width: auto;
}

img[src="images/Cover.jpg"], img[src="images/Frontispiece.jpg"], img[src="images/Pic05.jpg"], img[src="images/Pic08.jpg"] {
	width: 55%;
}

.hidden {
	display: none;
}